html, body {
  background: #ffffff;
  margin: 2%;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Mono';
}

p {
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Mono';
}

textarea {
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Mono';
}

@media (max-width: 767px) {

  html, body {
    margin: 0; 
  }

  h1 {
    font-size: 10em; 
  }

  p, textarea {
    font-size: 5em; 
  }
}
